<t1>Admin Console</t1>

<ul>
	<li><%= link_to "Aircrafts", aircrafts_path %></li>
	<li><%= link_to "Airports", airports_path %></li>
	<li><%= link_to "Pilots", pilots_path %></li>
	<li><%= link_to "Navigators", navigators_path %></li>
</ul>

