

  <div class="row">
  	<p>At Wrong Way Airlines, we pack and ship anything, anywhere.  You can rely on our experts for shipping large items, freight items, valuables, and more.  As one of the world’s top shipping companies, we partner with preferred carriers to ensure safe, efficient commercial and residential delivery.  We strive everyday to be your one-stop shipping store.</p>

  	<p>We determine the most effective delivery method based on the item, budget, destination, and timeframe.  Next, we manage the process from drop off to delivery, including paperwork and manifests, clearances, tracking, and written confirmations.  Contact your local Pak Mail shipping store for the following services:
	<ul>
    	<li>Domestic shipping by air and ground</li>
    	<li>Small package, LTL, blanket wrap, specialty carriers, and break bulk</li>
    	<li>Freight shipping by air, road, and rail</li>
    	<li>No weight or size limits</li>
    	<li>Real-time estimates</li>
    	<li>Confirmations and tracking</li>
	</ul>
	</p>
  </div>
  <br>
  <div class="row">
    <div class="col-md-6">
		<%= link_to 'Submit a Cargo Delivery Request Today!', new_shipment_request_path, :class => 'button primary gh-orange big active' %>
    </div>
  </div>