<h1>Listing of Open Cargo Delivery Requests</h1>

<div>
  <%= link_to 'New Cargo Delivery Request', new_shipment_request_path %>
</div>

<br>

<div id="shipment_requests"><%= render 'shipment_requests' %></div>
